/* Media */
@media (max-width:500px){
	
	#body {
		margin: 0;
	}

	a.menu {
		font-size:20px;
	}

	#ltable{
		width: 100%;
		display: inline-block;
	}

	#rtable{
		display: inline-block;
		width: 100%;
	}

	input.submit {
		margin-top: 10%;
	}

	/*.download {
		margin-left: 34%;
	}*/

	h3.tname {
		margin-top: 0;
		text-align: center;
	}

	div.tdiv {
		width: 95%;
	}

	div.tdiv2 {
		padding-bottom: 2%;
		width: 95%;
		margin-left: 2%;
	}

	/*img.img {
		margin-left: 36%;
	}*/
}



@media (min-width:500px){
	
	#body {
		margin: 0;
	}

	a.menu{
		font-size: 30px;
	}

	#ltable{
		width: 49.7%;
		display: inline-block;
	}

	#rtable{
		display: inline-block;
		width: 50.3%;
		float: right;
	}



	input.submit {
		margin-top: 27%;
	}

	div.tdiv {
		width: 45%;
	}

	div.tdiv2 {
		width: 45%;
		margin-left: 27%;
		padding-bottom: 2%;
	}

	h3.tname {
		margin-top: 0;
		margin-bottom: 13px;
		text-align: center;
	}



	/*img.img {
		margin-left: 31%;
	}*/
}

@media (min-width:500px) and (max-width:800px){
	
	#container{
		width: 100%;
	}

	#body {
		margin: 0;
	}

	/*.download {
		margin-left: 28%;
	}*/

	h3.tname {
		margin-top: 0;
	}

}



@media (min-width:860px) and (max-width:1260px){

	#container {
		width: 70%;
	}

	/*.download {
		margin-left: 21%;
	}*/

	h3.tname {
		margin-top: 0;
		text-align: center;
	}
}



@media (min-width:930px) {

	img.img {
		margin-left: 0%;
	}
}



@media (min-width:800px) and (max-width:920px) {
	h3.tname {
		margin-top: 0;
		text-align: center;
	}

	/*.download {
		margin-left: 28%;
	}*/
}

@media (min-width:920px){

	img.img {
		float: left;
		margin-left: 0%;
	}
}

@media (min-width:1260px){

	#container{
		width: 48.07%; /* 800/1664 */
	}

	div.tdiv {
		width: 45%;
	}



	.download {
		margin-left: 10%;
	}
}

/*All html*/

body:before {
	background: url(/img/sunfon.jpg) no-repeat fixed center;
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;

}

#container {
	position: relative;
	margin: auto;
}

#logo {
	height: 100px;
	text-align: center;
}

#condiv {
	background-color: rgba(0,0,0,0.5);
}

#menu {
	height: 40px;
	border: 2px solid White;
}

#chergovi {
	width: 100%;
	border: 2px solid White;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	color: white;
}

#main {
	position: relative;
	width: 100%;
}

.cher {
	margin: 0%;
}

.clearfix:after {
	content: "."; /* добавить содержимое: "." */
	display: block;  /* сделать блоком, т.к. inline не может иметь clear */
	clear: both;  /* с обеих сторон clear */
	visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
	height: 0;  /* сделать высоту 0, чтобы не занимал место */
}

a.menu {
	display: block;
	text-decoration: none;
	text-align: center;
	color: white;
	width: 24.75%;
	height: inherit;
	float: left;
}



a.brl {
	border-left: 1px solid White;
}



input.submit {
	background: none;
	border-style: solid;
	margin-left: 35%;
	padding: 0.05%;
	border-radius: 5px;
	width: 31%;
	height: 45px;
	color: white;
	font-family: Comic Sans MS;
	font-size: 15px;
}

 .download {
 	text-decoration: none;
	text-align: center;
	background: none;
	border-style: solid;
	padding: 2.5%;
	border-radius: 5px;
	width: 31%;
	height: 45px;
	color: white;
	font-family: Comic Sans MS;
	font-size: 15px;
}

.download1 {
 	text-decoration: none;
	text-align: center;
	background: none;
	border-style: solid;
	padding: 2.5%;
	border-radius: 5px;
	width: 31%;
	height: 45px;
	color: white;
	font-family: Comic Sans MS;
	font-size: 15px;
}

/* Index */

select.iselect {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: none;
	color: white;
	width: 100%;
}



select.iselect:focus { 
	color: black;
}

div.iform_sel {
	float: left;
	margin-left: 10px;
}

div.iform_sel:before {
	pointer-events: none;
}

div.iform_sel:after {
	content: "";
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: white transparent transparent transparent;
	position: absolute;
	z-index: 1;
	margin: 1.8% 0 0 -0.2%;
}



div.nform_sel {
	float: right;
	margin:  20px;
}

div.nform_sel:before {
	pointer-events: none;
}

div.nform_sel:after {
	content: "";
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: white transparent transparent transparent;
	position: absolute;
	z-index: 1;
	margin: 1% 0 0 0%;
}

div.news {
	width: 92.039%; /* 740/804 */
	margin: 3.75%; /* 30/804 */
	color: white;
	border: 2px solid White;
}

h1.news {
	margin: 0px 0px 0px 2.7169%; /* 20/736.12 */
	padding-top: 2.7169%; /* 20/736.12 */
}

div.date {
	font-family: "Comic SAns MS";
	font-size: 20px;
	margin: 1.3584% 0px 0px 2.7169%; /* 10/736.12 */ /* 20/736.12 */
	display: inline-block;
}

div.pdate {
	float: left;
}

p.date {
	margin: 1.3584% 0px 0px 2.7169%; /* 10/736.12 */ /* 20/736.12 */
	padding: 0%;
}

p {
	margin: 0px 1.4831%; /* 10/674.24 */
	padding: 1.4831% 0px; /* 10/674.24 */
	font-family: "Comic Sans MS";
	font-size: 20px;
}

div.news_text {
	margin: 2.7169%; /* 20/736.12 */
	padding-bottom: 0px;
	border: 1px solid White;
}

textarea.txtarea {
	height: 300px;
	width: 100%;
	border: none;
	background: none;
	color: white;
	font-family: "Comic Sans MS";
	font-size: 15px;
}

div.break {
	height: 10px;
}

/* Timetable */

.table {
	border: 2px solid white;
	color: white;
}

table{
	width: 100%;
}

td.a {
	border: 2px solid white;
	width: 50%;
}

td.date {
	border-bottom: 1px solid white;
	text-align: center;
}

td.n{
	width: 5%;
	border-bottom: 1px solid white;
	text-align: center;
}

td.nl {
	border-bottom: none;
}

td.b {
    width: 27%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

td.bl {
	border-bottom: none;
}

td.c {
    width: 73%;
    border-bottom: 1px solid white;
}

td.cl {
	border-bottom: none;
}

select.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: none;
	color: white;
	width: 100%;
}

select.select:focus { 
	color: black;
}

div.form_sel:before {
	pointer-events: none;
}

div.form_sel:after {
	content: "";
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: white transparent transparent transparent;
	position: absolute;
	z-index: 1;
	margin: 1% 0 0 -1.6%;
}

input.homework{
	width: 98%;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: white; 
	background: none;
	color: white;
	font-family: "Comic Sans MS";
	font-size: 15px;
}

/* Teachers */

div.tdiv {
	float: left;
	margin: 2%;
	color: white;
	border: 2px solid White;
	text-align: center;
}

div.tdiv2 {
	float: left;
	color: white;
	border: 2px solid White;
}

img.img {
	width: 100px;
	height: 100px;
	border: 1px solid white;
}

h3.tname {
	font-family: "Comic Sans MS";
	text-align: center;
}